#column-baseline-grid {
   position: absolute;
   z-index: 1;
   top: 0;
   left: 0;
   width: 100%;
}

.all-grids {
   background-image: linear-gradient(90deg, rgba(200, 0, 0, 0.2) $grid-width, transparent 0px),
      linear-gradient(0deg, rgba(0, 0, 0, 0) 95%, rgba(56, 255, 255, 0.8) 100%),
      url('../img/modular-grid.png');

   background-position: 0% 0%,
      0% 0%,
      center center;

   background-size: ($grid-width + $grid-gutter) 100%,
      100% $leading,
      auto auto;

   background-attachment: fixed,
      fixed,
      fixed;

   background-repeat: no-repeat,
      no-repeat,
      no-repeat;

   background-color: transparent,
      transparent,
      transparent;
}

   background-image: linear-gradient(90deg, rgba(200, 0, 0, 0.2) $grid-width, transparent 0px),
   background-size: ($grid-width + $grid-gutter) 100%,
.baseline-grid {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 95%, rgba(56, 255, 255, 0.8) 100%);
   background-size: 100% $leading;
}
