#column-baseline-grid {
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   width: 100%;
   height: $users-bg-image--height;
}

.all-grids {
   background-image: $users-bg-image,
      linear-gradient(90deg, $color-grid-column $grid-column, transparent 0px),
      linear-gradient(0deg, rgba(0, 0, 0, 0) 95%, $color-grid-baseline 100%);

   background-position: $users-bg-image--position-x $users-bg-image--position-y,
      0 0,
      0 0;

   background-size: $users-bg-image--size-x $users-bg-image--size-y,
      ($grid-column + $grid-gutter) 100%,
      100% $leading;

   background-attachment: $users-bg-image--attachment,
      fixed,
      fixed;

   background-repeat: $users-bg-image--repeat,
      no-repeat,
      no-repeat;

   background-color: $users-bg-image--color;
}

.modular-grid {
   background-image: linear-gradient(90deg, $color-grid-column $grid-column, transparent 0px),
      linear-gradient(0deg, rgba(0, 0, 0, 0) 95%, $color-grid-baseline 100%);
   background-size: ($grid-column + $grid-gutter) 100%,
      100% $leading;
}

.column-grid {
   background-image: linear-gradient(90deg, $color-grid-column $grid-column, transparent 0px);
   background-size: ($grid-column + $grid-gutter) 100%;
}

.baseline-grid {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 95%, $color-grid-baseline 100%);
   background-size: 100% $leading;
}

.user-supplied-bg-image {
   background: $users-bg-image--color
               $users-bg-image
               $users-bg-image--repeat
               $users-bg-image--attachment
               #{$users-bg-image--position-x
                 $users-bg-image--position-y} /
               #{$users-bg-image--size-x
                 $users-bg-image--size-y};
}
