// =================================================================================
// Base font sizing and leading
// =================================================================================
$font-size                   : 16px;              // 16 pixels
$leading                     : 1.5 * $font-size;  // 24 pixels

// =================================================================================
// Grid-specific variables
// =================================================================================
$grid-column : 60px;                              // 60 pixels
$grid-gutter : $grid-column / 3;                  // 20 pixels
$grid-margin : $grid-gutter / 2;                  // 10 pixels

// =================================================================================
// Grid-specific unit lengths
// =================================================================================
$grid--GU    : $grid-column + $grid-gutter;       // A single grid unit
$width--12GU : 12 * $grid--GU;                    // 980 pixels
$width--8GU  : 8 * $grid--GU;                     // 640 pixels
$width--4GU  : 4 * $grid--GU;                     // 320 pixels

// =================================================================================
// Body sizing
// =================================================================================
$width-body : $width--12GU;                        // 980 pixels

// =================================================================================
// Colors
// =================================================================================
$color-grid-column   : rgba(200, 0, 0, 0.2);
$color-grid-baseline : rgba(56, 255, 255, 0.8);

// =================================================================================
// The image `modular-grid.png` defined below is used as a background image by the
// file `index.html`. It should be updated by the user in order to compare it to
// this project’s various background grids.
// =================================================================================
$users-bg-image--height      : 3111px;
$users-bg-image--color       : transparent;
$users-bg-image              : url('../img/modular-grid.png');
$users-bg-image--repeat      : no-repeat;
$users-bg-image--attachment  : scroll;
$users-bg-image--position-x  : center;
$users-bg-image--position-y  : top;
$users-bg-image--size-width  : auto;
$users-bg-image--size-height : auto;
