// =================================================================================
// Base font sizing and leading.
// =================================================================================
$font-size: 16px;                                              // 16 pixels
$leading: 1.5 * $font-size;                                    // 24 pixels

// =================================================================================
// Grid-specific variables.
// =================================================================================
$grid-width: 75px;                                             // 75 pixels
$grid-gutter: $grid-width / 3;                                 // 25 pixels
$color-grid-column: rgba(200, 0, 0, 0.2);
$color-grid-baseline: rgba(56, 255, 255, 0.8);

// =================================================================================
// Body sizing.
// =================================================================================
$width-body: (9 * ($grid-width + $grid-gutter)) + $grid-width; // 975 pixels

// =================================================================================
// The image `modular-grid.png` on line 18 below is used as a background image by
// the file `index.html`. It should be updated by the user in order to compare it to
// the background grid defined at the top of this document.
// =================================================================================
$users-comparison-bg-image: url('../img/modular-grid.png');
$users-comparison-bg-image--height: 3111px;
$users-comparison-bg-image--position-x: center;
$users-comparison-bg-image--position-y: top;
$users-comparison-bg-image--size-x: auto;
$users-comparison-bg-image--size-y: auto;
$users-comparison-bg-image--attachment: scroll;
$users-comparison-bg-image--repeat: no-repeat;
$users-comparison-bg-image--color: transparent;
