$font-size: 16px;                                              // 16 pixels
$leading: 1.5 * $font-size;                                    // 24 pixels
$grid-width: 4.6875 * $font-size;                              // 75 pixels
$grid-gutter: 1.5625 * $font-size;                             // 25 pixels
$width-body: (9 * ($grid-width + $grid-gutter)) + $grid-width; // 975 pixels
$color-grid-column: rgba(200, 0, 0, 0.2);
$color-grid-baseline: rgba(56, 255, 255, 0.8);

$users-comparison-bg-image: url('../img/modular-grid.png');
$users-comparison-bg-image--position-x: center;
$users-comparison-bg-image--position-y: top;
$users-comparison-bg-image--size-x: auto;
$users-comparison-bg-image--size-y: auto;
$users-comparison-bg-image--attachment: fixed;
$users-comparison-bg-image--repeat: no-repeat;
$users-comparison-bg-image--color: transparent;
