////
/// Add poster comment here
////
@font-face {
   font-family: 'Muli';
   font-weight: 300;
   font-style: normal;
   src: local('Muli Light'), local('Muli-Light'), url('../fonts/Muli-Light.ttf') format('truetype');
}

@font-face {
   font-family: 'Muli';
   font-weight: 700;
   font-style: normal;
   src: local('Muli Bold'), local('Muli-Bold'), url('../fonts/Muli-Bold.ttf') format('truetype');
}
