////
/// Add poster comment here
////
@font-face {
   font-family: 'Muli';
   font-weight: 300;
   font-style: normal;
   src: url('chrome-extension://__MSG_@@extension_id__/fonts/muli-light-webfont.woff2') format('woff2');
}

@font-face {
   font-family: 'Muli';
   font-weight: 700;
   font-style: normal;
   src: url('chrome-extension://__MSG_@@extension_id__/fonts/muli-bold-webfont.woff2') format('woff2');
}
