$colors: (
   'background': (
      primary: #fff,
      secondary: #c0c0c0,
      ternary: #464646,
      quartenary: rgba(170, 170, 170, .1)
   ),
   'grid': (
      column:   #ff7bac,
      baseline: #29abe2
   )
);

///
/// Styles specific to the popup
///
$popup--transition-time--button: .25s;
$popup--width--popup-wrapper:    100px;
$popup--width--slider:           60px;                       // 60px
$popup--width--half-slider:      $popup--width--slider / 2;  // 30px
$popup--offset--button:          $popup--width--slider / 15; // 4px
$popup--width--button:           ($popup--width--slider / 2) - $popup--offset--button; // 26px
$popup--radius--slider:          ($popup--width--slider / 2) + $popup--offset--button; // 34px

///
/// Styles specific to the options page
///
$options--width--header: 100px;
$options--width--input:  48px;

///
/// Fonts-related styles, irrespective of page
///
$font--stack:     'Muli', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font--base-size: 1rem;
$font--size--h1:  2rem;
$font--size--h2:  1.5rem;
$font--size--h3:  1.17rem;

///
/// Font Weights
///
$light: 200;
$bold:  700;
