@import '../common-styles/fonts';
@import '../common-styles/variables';
@import '../common-styles/functions';

#modular-grid {
   position: relative;
   margin: 0 auto;
   max-width: $width--16u;
}

.all-grids {
   background-color: $users-image--color;
   background-repeat: no-repeat, repeat, repeat;
}

.user-supplied-bg-image {
   background-attachment: $users-image--attachment;
   background-color: $users-image--color;
   background-repeat: $users-image--repeat;
   background-position: $users-image--position-x $users-image--position-y;
   background-size: $users-image--size-x $users-image--size-y;
}

#info-sidebar {
   display: none;
   position: fixed !important;
   top: $offset-sidebar !important;
   right: $offset-sidebar !important;
   text-align: left !important; // To over-ride body.default-theme.des-mat added by Chrome
   font: .9875rem / 1.6 $font--stack !important;

   .message-box {
      display: block !important;
      position: relative !important;
      margin-bottom: $offset-sidebar !important;
      background-color: get-color('background', 'secondary') !important;
      padding: $offset-sidebar !important;
      width: 4 * $width--grid-column !important;
      color: get-color('background', 'primary') !important;

      strong {
         color: get-color('background', 'primary') !important;
         font-weight: $bold !important;
      }

      &:nth-child(3) {
         text-align: center !important;

         button {
            border: 0 !important;
            background-color: get-color('background', 'primary') !important;
            padding: 4px 8px 6px !important;
            font: #{1.1 * $font--base-size} / #{$height--leading} $font--stack !important;

            a {
               text-decoration: none !important;
               color: get-color('grid', 'baseline') !important;
            }
         }
      }

      &::after {
         position: absolute !important;
         top: 0 !important;
         right: -(2 * $offset-sidebar) !important;
         border: {
            top: $offset-sidebar solid transparent !important;
            right: $offset-sidebar solid transparent !important;
            bottom: $offset-sidebar solid transparent !important;
            left: $offset-sidebar solid get-color('background', 'secondary') !important;
         }
         content: '' !important;
      }
   }
}

#modular-grid--container {
   position: absolute;
   width: 100%;
}

kbd {
   border: 1px solid darken(get-color('grid', 'baseline'), 2%) !important;
   border-radius: 8px !important;
   background-color: lighten(get-color('grid', 'baseline'), 8%) !important;
   padding: 0 6px 3px !important;
   color: get-color('background', 'primary') !important;
}
