@import '../common-styles/reset';
@import '../common-styles/fonts';
@import '../common-styles/variables';
@import '../common-styles/functions';

html {
   background-color: get-color('background', 'ternary');
   color: get-color('background', 'primary');
   font: $light #{$font--base-size} / 1.4 $font--stack;
}

div {
   margin: #{$options--width--input / 2} #{$options--width--input / 1.5} 0;
}

h1 {
   position: relative;
   top: 97vh;
   transform: rotate(-90deg);
   width: 97vh;
   height: $options--width--header;
   text-align: center;
   font: $bold #{$font--size--h1} / #{$options--width--header} $font--stack;
   transform-origin: top left;
}

h2 {
   margin: #{$options--width--input / 2} 0;
   font-size: $font--size--h2;
}

h3 {
   margin: 0 0 #{$options--width--input / 6};
   font-size: $font--size--h3;
}

[type='color'],
[type='text'],
[type='range'] {
   margin: #{$options--width--input / 4} 0;
   padding: #{$options--width--input / 12} 0;
   width: $options--width--input;
   text-align: center;
   font-size: $font--base-size;
}

[type='range'] {
   width: $options--width--header;
}

section {
   margin: #{$options--width--input / 2} 0;
   border-bottom: 1px solid get-color('background', 'quartenary');
   padding: 0 #{$options--width--input / 2} #{$options--width--input / 2};
}

header {
   position: fixed;
   top: 0;
   left: 0;
   width: $options--width--header;
   height: 100%;
}

form {
   position: absolute;
   left: $options--width--header;
   background-color: get-color('background', 'ternary');
}

p {
   &.pending {
      color: get-color('grid', 'column');
   }
}

#notification {
   margin: 24px;
   border: 1px solid get-color('background', 'primary');
   border-radius: 8px;
   padding: 24px;
   text-align: center;
   line-height: 1.4;
   font-size: 1.2rem;
}

#status {
   position: fixed;
   right: -4px;
   bottom: 100px;
   z-index: 3;
   margin: 24px;
}

#save-options {
   position: fixed;
   right: 20px;
   bottom: 20px;
   border: 0;
   box-shadow: 0 0 20px 20px get-color('background', 'quartenary');
   background-color: get-color('background', 'quartenary');
   padding: 24px;
   color: get-color('background', 'primary');
   font-family: $font--stack;
   font-size: 1.5rem;
}

a {
   border-bottom: 1px solid get-color('grid', 'column');
   padding-bottom: 4px;
   text-decoration: none;
   color: get-color('background', 'primary');
}

.highlight {
   color: get-color('grid', 'column');
}
