@import '../common-styles/fonts';
@import '../common-styles/variables';
@import '../common-styles/functions';

html {
   background-color: get-color('background', 'ternary') !important;
   color: get-color('background', 'primary') !important;
}

body {
   font: $light #{$font--base-size} / 1.4 $font--stack !important;
}

div {
   margin: #{$options--width--input / 2} #{$options--width--input / 1.5} 0 !important;
}

h1 {
   position: relative !important;
   top: 97vh !important;
   transform: rotate(-90deg) !important;
   width: 97vh !important;
   height: $options--width--header !important;
   text-align: center !important;
   font: $bold #{$font--size--h1} / #{$options--width--header} $font--stack !important;
   transform-origin: top left !important;
}

h2 {
   margin: #{$options--width--input / 2} 0 !important;
   font-size: $font--size--h2 !important;
}

h3 {
   margin: 0 !important;
   padding: 0 !important;
   font-size: $font--size--h3 !important;
}

[type='color'],
[type='text'],
[type='range'] {
   margin: #{$options--width--input / 4} 0 !important;
   padding: #{$options--width--input / 12} 0 !important;
   width: $options--width--input !important;
   text-align: center !important;
   font-size: $font--base-size !important;
}

[type='range'] {
   width: $options--width--header !important;
}

section {
   margin: #{$options--width--input / 2} 0 !important;
   border-bottom: 1px solid get-color('background', 'quartenary') !important;
   padding: 0 #{$options--width--input / 2} #{$options--width--input / 2} !important;
}

header {
   position: fixed !important;
   top: 0 !important;
   left: 0 !important;
   width: $options--width--header !important;
   height: 100% !important;
}

form {
   position: absolute !important;
   left: $options--width--header !important;
   background-color: get-color('background', 'ternary') !important;
}

p {
   margin: 0 !important;
   padding: 0 !important;

   &.pending {
      color: get-color('grid', 'column') !important;
   }
}

#notification {
   margin: 24px !important;
   border: 1px solid get-color('background', 'primary') !important;
   border-radius: 8px !important;
   padding: 24px !important;
   text-align: center !important;
   line-height: 1.4 !important;
   font-size: 1.2rem !important;
}

#status {
   position: fixed !important;
   right: -4px !important;
   bottom: 100px !important;
   z-index: 3 !important;
   margin: 24px !important;
}

#save-options {
   position: fixed !important;
   right: 20px !important;
   bottom: 20px !important;
   border: 0 !important;
   box-shadow: 0 0 10px 10px get-color('grid', 'column') !important;
   background-color: get-color('grid', 'column') !important;
   padding: 24px !important;
   color: get-color('background', 'primary') !important;
   font-family: $font--stack !important;
   font-size: 1.5rem !important;
}

.error-message {
   display: none;
   margin: 24px !important;
   border: 1px solid get-color('grid', 'column') !important;
   border-radius: 8px !important;
   background-color: get-color('background', 'primary') !important;
   padding: 24px !important; // TODO: Change this to 12px
   text-align: center !important;
   color: get-color('grid', 'column') !important;
}

a {
   border-bottom: 1px solid get-color('grid', 'column') !important;
   padding-bottom: 4px !important;
   text-decoration: none !important;
   color: get-color('background', 'primary') !important;
}

.highlight {
   color: get-color('grid', 'column') !important;
}
