////
/// This file styles the popup browser action HTML file in the toolbar. Linting is
/// carried out using `sass-lint` (see `.sass-lint.yml`). Use the following command
//  to lint:
///
/// sass-lint -c ../.sass-lint.yml -v -s main.scss
///
/// @author Roy Vanegas <roy@thecodeeducators.com>
////

@import '../common-styles/reset';
@import '../common-styles/variables';
@import '../common-styles/functions';

body,
html {
   position: relative;
   margin: 0 auto;
   background-color: get-color('background', 'secondary');
   width: 100%;
   height: 100%;
   line-height: 1.6;
}

.popup {
   &--wrapper {
      width: $popup--width--popup-wrapper;
      height: $popup--width--popup-wrapper;
   }

   &--switch__button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: $popup--transition-time--button;
      border-radius: $popup--radius--slider;
      background-color: get-color('background', 'primary');

      &::before {
         position: absolute;
         bottom: $popup--offset--button;
         left: $popup--offset--button;
         transition: $popup--transition-time--button;
         border-radius: 50%;
         background-color: get-color('background', 'secondary');
         width: $popup--width--button;
         height: $popup--width--button;
         content: '';
      }
   }

   &--switch__wrapper {
      display: inline-block;
      position: absolute;
      top: calc(50% - #{$popup--radius--slider / 2});
      left: calc(50% - #{$popup--width--half-slider});
      cursor: pointer;
      width: $popup--width--slider;
      height: $popup--width--slider - $popup--width--button;

      input {
         display: none;

         &:checked {
            + .popup--switch__button {
               &::before {
                  transform: translateX($popup--width--button);
                  background-color: get-color('grid', 'column');
               }
            }
         }
      }
   }
}
